@layer theme, base, components, kirby, utilities;

@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

:root {
  --ui-radius: 0;
}

@theme static {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Instrument Serif", ui-serif, serif;

  --color-pumpkin: oklch(71.8% 0.189 48.7);
  --color-pumpkin-50: oklch(96.5% 0.019 57);
  --color-pumpkin-100: oklch(93% 0.038 56);
  --color-pumpkin-200: oklch(87.5% 0.076 55);
  --color-pumpkin-300: oklch(81% 0.117 53);
  --color-pumpkin-400: oklch(74.5% 0.161 51);
  --color-pumpkin-500: oklch(71.8% 0.189 48.7);
  --color-pumpkin-600: oklch(63.5% 0.174 47);
  --color-pumpkin-700: oklch(53.5% 0.144 47);
  --color-pumpkin-800: oklch(45% 0.113 47.5);
  --color-pumpkin-900: oklch(39% 0.087 48);
  --color-pumpkin-950: oklch(26.5% 0.057 48);

  --color-orchid: oklch(67.5% 0.247 318.6);
  --color-orchid-50: oklch(97.7% 0.014 317.8);
  --color-orchid-100: oklch(95.1% 0.031 316.6);
  --color-orchid-200: oklch(90.3% 0.063 317.1);
  --color-orchid-300: oklch(83.2% 0.119 318.5);
  --color-orchid-400: oklch(75.1% 0.197 318.9);
  --color-orchid-500: oklch(67.5% 0.247 318.6);
  --color-orchid-600: oklch(60% 0.25 318.9);
  --color-orchid-700: oklch(51.4% 0.219 319.7);
  --color-orchid-800: oklch(44.9% 0.182 320.5);
  --color-orchid-900: oklch(39.7% 0.147 321.6);
  --color-orchid-950: oklch(29.3% 0.119 321.2);

  --color-danube: oklch(66.3% 0.167 250.8);
  --color-danube-50: oklch(97.3% 0.012 247.4);
  --color-danube-100: oklch(94% 0.025 248.1);
  --color-danube-200: oklch(89% 0.051 244.8);
  --color-danube-300: oklch(81.7% 0.093 243.2);
  --color-danube-400: oklch(73.8% 0.14 245.8);
  --color-danube-500: oklch(66.3% 0.167 250.8);
  --color-danube-600: oklch(57.8% 0.177 254.5);
  --color-danube-700: oklch(49.3% 0.166 255.7);
  --color-danube-800: oklch(43.2% 0.137 255.7);
  --color-danube-900: oklch(38.4% 0.104 255.6);
  --color-danube-950: oklch(28.6% 0.069 258);

  --color-lima: oklch(75.4% 0.197 134.6);
  --color-lima-50: oklch(97.5% 0.024 129);
  --color-lima-100: oklch(95% 0.051 130);
  --color-lima-200: oklch(90.5% 0.097 131);
  --color-lima-300: oklch(84.5% 0.148 132);
  --color-lima-400: oklch(79.5% 0.179 133.5);
  --color-lima-500: oklch(75.4% 0.197 134.6);
  --color-lima-600: oklch(62% 0.156 135);
  --color-lima-700: oklch(51% 0.122 135.2);
  --color-lima-800: oklch(43.5% 0.099 135);
  --color-lima-900: oklch(38.5% 0.081 135.5);
  --color-lima-950: oklch(26.5% 0.059 136);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}
