@import "tailwindcss";
@import "@nuxt/ui-pro";

@source "../../../content/**/*";

@theme static {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Instrument Serif", ui-serif, serif;

  --color-danube: oklch(66.267% 0.09419 250.8);
  --color-danube-50: oklch(96.509% 0.00966 252.81);
  --color-danube-100: oklch(93.245% 0.0173 248.01);
  --color-danube-200: oklch(86.463% 0.03632 249.55);
  --color-danube-300: oklch(79.707% 0.05546 251.06);
  --color-danube-400: oklch(73.036% 0.07399 249.49);
  --color-danube-500: oklch(66.267% 0.09419 250.8);
  --color-danube-600: oklch(57.202% 0.11615 251.53);
  --color-danube-700: oklch(47.653% 0.09444 251.72);
  --color-danube-800: oklch(37.602% 0.07137 252.12);
  --color-danube-900: oklch(27.052% 0.04567 249.85);
  --color-danube-950: oklch(21.283% 0.03175 249.52);

  --color-pumpkin: oklch(71.76% 0.18922 48.657);
  --color-pumpkin-50: oklch(92.42% 0.04692 57.822);
  --color-pumpkin-100: oklch(89.878% 0.06438 58.471);
  --color-pumpkin-200: oklch(84.786% 0.10023 58.039);
  --color-pumpkin-300: oklch(79.756% 0.1342 56.306);
  --color-pumpkin-400: oklch(75.48% 0.16461 53.435);
  --color-pumpkin-500: oklch(71.76% 0.18922 48.657);
  --color-pumpkin-600: oklch(62.14% 0.17208 46.817);
  --color-pumpkin-700: oklch(49.792% 0.13624 47.465);
  --color-pumpkin-800: oklch(36.784% 0.0973 49.963);
  --color-pumpkin-900: oklch(22.532% 0.05418 57.579);
  --color-pumpkin-950: oklch(14.602% 0.03107 73.213);

  --color-lima: oklch(75.42% 0.197 134.64);
  --color-lima-50: oklch(97.75% 0.024 127.57);
  --color-lima-100: oklch(95.02% 0.052 128.57);
  --color-lima-200: oklch(90.43% 0.097 130.27);
  --color-lima-300: oklch(84.47% 0.148 131.75);
  --color-lima-400: oklch(78.38% 0.18 133.04);
  --color-lima-500: oklch(75.42% 0.197 134.64);
  --color-lima-600: oklch(58.82% 0.156 135.13);
  --color-lima-700: oklch(48.63% 0.123 135.23);
  --color-lima-800: oklch(41.88% 0.098 134.95);
  --color-lima-900: oklch(37.71% 0.081 135.65);
  --color-lima-950: oklch(25.53% 0.059 136.04);

  --color-orchid: oklch(67.56% 0.187 318.62);
  --color-orchid-50: oklch(97.73% 0.013 314.76);
  --color-orchid-100: oklch(95.44% 0.026 316.14);
  --color-orchid-200: oklch(90.53% 0.056 316.64);
  --color-orchid-300: oklch(83.34% 0.1 318.02);
  --color-orchid-400: oklch(74.08% 0.158 318.82);
  --color-orchid-500: oklch(67.56% 0.187 318.62);
  --color-orchid-600: oklch(55.59% 0.211 319.08);
  --color-orchid-700: oklch(48.42% 0.186 319.94);
  --color-orchid-800: oklch(42.44% 0.156 320.52);
  --color-orchid-900: oklch(38.22% 0.128 322.25);
  --color-orchid-950: oklch(27.15% 0.107 321.53);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
}
